extends layout_nav

block content
  .error-wrapper
    h1.error-heading 404 Page not found
    p.error-sub Sorry, we couldn’t find that page.

    img.error-img(src="/images/error-404.png" alt="Not found illustration")

    a.error-home-btn(href="/") ← Back to Home

