doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Jiwo – #{title || ''}
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Ovo&display=swap")
    link(rel="stylesheet", href="/styles.css")
  body
    header.simple-nav
      nav.nav-bar
        
        a(href="/why") Why Jiwo
        a(href="/features") Features
        a(href="/reviews") Reviews
        a(href="/") Jiwo
        a(href="/demo") Live Demo
        a(href="/signup") Sign Up
        a(href="/login") Login

    main
      block content
